#background{
    background: linear-gradient(to bottom right, #ccffff 0%, #ffffff 100%);
    background-attachment: fixed;
    margin:0
}

#container{
    position: absolute;
    margin-left:42%;
    margin-top:11%;
    width:10px;
}

#tree{
    width:200px;
    position: relative;
    animation-name: move;
    animation-duration: 2s;
}

@keyframes move{
    0%  {left:0px; top:0px}
    100% {left:300px;top:0px}
}

#christmasbutton{
    background-color: #ffffff00;
    border-color:#ccffff00
}
#christmasbutton:active{
    background-color: rgba(1, 73, 70, 0.199);
}

